body {
    background-color:#E8F8F5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
  }

input {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

img {
    width: 500px;
    margin-left: 40px;
    margin-top: 10px;
  }